{% extends 'base.html.twig' %}

{% block title %}Blog | {{ parent() }}{% endblock %}

{% block body %}
    {# Paginator Options
    <div class="count">
        {{ postsPagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            <th>{{ knp_pagination_sortable(postsPagination, 'Id', 'Post.id') }}</th>
            <th{% if postsPagination.isSorted('Post.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(postsPagination, 'Title', 'Post.title') }}
            </th>
            <th{% if postsPagination.isSorted('Post.Release') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(postsPagination, 'Release', 'Post.createdAt') }}
            </th>
        </tr>
    </table>
    #}


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for article in postsPagination %}
                <div class="col-md-6 col-lg-4" data-id="{{ article.id }}">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src="{{ asset('uploads/post/img/' ~ article.image) }}" />
                        <div class="card-body">
                            <h2>{{ article.title }}</h2>
                            <p class="card-text">{{ article.extract }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('single', {id:article.id}) }}" class="btn btn-sm btn-outline-secondary">Ver</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <small class="text-muted">{{ article.createdAt | format_datetime(pattern="d 'de' MMMM, YYYY", locale='es') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {# display navigation #}
            <div class="navigation d-flex justify-content-center py-4">
                {{ knp_pagination_render(postsPagination) }}
            </div>
        </div>
    </div>



{% endblock %}
