{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    {# total items count #}
    <div class="count">
        {{ postsPagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(postsPagination, 'Id', 'Post.id') }}</th>
            <th{% if postsPagination.isSorted('Post.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(postsPagination, 'Title', 'Post.title') }}
            </th>
            <th{% if postsPagination.isSorted('Post.Release') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(postsPagination, 'Release', 'Post.createdAt') }}
            </th>
        </tr>

        {# table body #}
        {% for article in postsPagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.createdAt | date('Y-m-d, H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(postsPagination) }}
    </div>

{% endblock %}
