<!DOCTYPE html>
<html lang="es">
  <head>
    {# Required meta tags #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {# Bootstrap CSS #}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap-4.5.2/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block javascripts %}
        {# Optional JavaScript #}
        {# jQuery first, then Popper.js, then Bootstrap JS #}
        <script src="{{ asset('assets/js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper-2.4.4.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap-4.5.2/js/bootstrap.min.js') }}"></script>
    {% endblock %}

  </body>
</html>